.estudiosSection{
    background-color: #FBFBFB;
    width: 100%;
    max-width: 100%;
    display: flex;
    min-height: 503px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container{
        width: 89%;
        min-height: 306px;
        max-width: 1281px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .colegios{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-gap: 34px;
        padding-top: 56px;
        padding-bottom: 56px;

        .image1{
            max-width: 100%;
            width: 280px;
            transition: transform 0.3s ease;
            display: block;

        }
        .image1:hover {
            transform: scale(1.1); /* Cambiar tama単o en hover */
            content: url('../../assets/img/Ricardo_Lopez_Rayero_Estudios_Proctor_Gallagher_hover.webp'); /* Cambiar imagen en hover */
        }
        .image2{
            @extend .image1;
            width: 417px;
        }
        .image2:hover {
            transform: scale(1.1); /* Cambiar tama単o en hover */
            content: url('../../assets/img/Ricardo_Lopez_Rayero_Estudios_Tecnologico_de_Monterrey_hover.webp'); /* Cambiar imagen en hover */
        }
        .image3{
            @extend .image1;
            width: 183px;
        }
        .image3:hover {
            transform: scale(1.1); /* Cambiar tama単o en hover */
            content: url('../../assets/img/Ricardo_Lopez_Rayero_Estudios_Montesori_hover.webp'); /* Cambiar imagen en hover */
        }
        .image4{
            @extend .image1;
            width: 300px;
        }
        .image4:hover {
            transform: scale(1.1); /* Cambiar tama単o en hover */
            content: url('../../assets/img/Ricardo_Lopez_Rayero_Estudios_Platzi_hover.webp'); /* Cambiar imagen en hover */
        }
    }
}
@media(max-width: 600px){
    .estudiosSection{
        min-height: 278px;
        .container{
            padding: 55px 0 0;
        }
        .colegios{
            flex-wrap: wrap;
            grid-gap: 63px;
            .image1{
                max-width: 80%;
                transition: none;
                margin: auto;
                display: none;
            }
        }
        .colegios > div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}