.documentalesSection{
    width: 100%; max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 671px;
    padding: 60px 0;

    .container{
        max-width: 1389px;
        width: 96.5%;
        display: flex;
        align-items: center;
        margin-top: 74px;

        .contentDocumental{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .titleContent{
        max-width: 1271px; width: 88.2%;
        
    }
    .divSpace{
        padding-left: 8.4%;
    }
    .img{
        width: 100%;
    }
}
@media(max-width:700px){
    .documentalesSection{
        padding: 40px 0 0;

    }
}
