.videoDescription {
    margin-top: 10px;
    text-align: center;
  }
  
  .videoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1062px;
    justify-items: stretch;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 74px 0 0;
    a:hover{
      transform: translate(-2%, -2%);
    }
  }
  
  .videoContainer {
    position: relative;
    width: 100%;
    max-width: 467px;
    background-color: #00000000;
    text-align: -webkit-center;
    margin-bottom: 60px;
  }
  
  .videoContent { /* Nuevo contenedor para el video o la vista previa */
    position: relative;
    min-height: 227px;
    width: 100%;
  }
  
  .preview {
    position: relative;
  }
  
  .preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  
  .playButton:hover {
    background-color: #2b25251a;
  }
  
  .video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    a:hover{
      transform: translate(-2%, -2%);
    }
  }
  
  .closeButton {
    position: absolute;
    top: -11px;
    right: -2px;
    background: none;
    border: none;
    font-size: 56px;
    cursor: pointer;
    color: #8a9bdd;
  }  
  .time{
    display: flex;
    justify-content: center;
    gap: 4px;
    
  }
  
@media(max-width:800px){
    .videoGrid{
        margin: 50px 0 60px;
        grid-template-columns: repeat(1, 1fr);
    }
    .videoContent{
      min-height: 193px;
    }
    .videoContainer{
      margin-bottom: 18px;
    }
}
