.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto auto 18em;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.slick-slide img {
    width: 100%;
    height: auto;
  }
  /* Cambiar el color de las flechas */
.slick-prev, .slick-next {
    color: black; /* O usa el color que desees, por ejemplo: #000 o azul #0000ff */
    z-index: 1; /* Para asegurarte de que las flechas siempre estén visibles */
  }
  
  .slick-prev:hover, .slick-next:hover {
    color: rgba(0, 0, 255, 0); /* O el color de hover que prefieras */
  }
  /* Asegurar que las flechas sean visibles */
.slick-prev, .slick-next {
    color: rgba(252, 207, 7, 0); /* O el color que prefieras */
    z-index: 2; /* Asegurarte de que las flechas se superpongan a otros elementos */
    opacity: 1; /* Asegurar que las flechas no tengan transparencia */
    font-size: 30px; /* Ajustar el tamaño si es necesario */
  }
  
  /* Asegurar que las flechas tengan posición absoluta */
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%; /* Centra verticalmente las flechas */
    transform: translateY(-50%);
  }
  
  .slick-prev {
    left: 10px; /* Ajusta la distancia de la flecha izquierda */
  }
  
  .slick-next {
    right: 10px; /* Ajusta la distancia de la flecha derecha */
  }
  
  
  @media (max-width: 768px) {
    .slick-slider {
      width: 100%;
      overflow: hidden;
    }
  }
  