.custom-audio {
    width: 90%;
    background-color: #9da2ef00;
    border: none;
    outline: none;
    margin: 30px 0;
  }

  .rhap_container {
    background-color: #9DA2EF !important; /* Color de fondo del reproductor */
    margin: 30px 0 0;
  }
  
  .rhap_play-pause-button,
  .rhap_forward-button,
  .rhap_rewind-button,
  .rhap_volume-button,
  .rhap_repeat-button,
  .rhap_main-controls-button {
    color: #fff !important; /* Color de los botones, incluidos los tres puntos */
  }
  
  .rhap_time {
    color: #fff !important; /* Cambia el color de los números de tiempo a blanco */
  }
  
  .rhap_progress-bar-show-download {
    background-color: #e4e4e4 !important; /* Color de la barra de progreso */
  }
  
  .rhap_main-controls-button {
    color: #fff !important; /* Color de los botones de reproducción */
  }
  @media (max-width: 900px){
    .rhap_container {
      margin: 10px 0 0;
    }
  }