.custom-audio {
    width: 90%;
    background-color: #9da2ef00;
    border: none;
    outline: none;
    margin: 30px 0;
  }
  
  /* Cambiar el color de los textos y del fondo */
  .custom-audio::-webkit-media-controls-panel {
    background-color: #9DA2EF;
    border-radius: 8px;
    color: white;
  }
  
  /* Invertir los colores de los botones principales */
  .custom-audio::-webkit-media-controls-play-button,
  .custom-audio::-webkit-media-controls-current-time-display,
  .custom-audio::-webkit-media-controls-time-remaining-display,
  .custom-audio::-webkit-media-controls-timeline,
  .custom-audio::-webkit-media-controls-mute-button,
  .custom-audio::-webkit-media-controls-volume-slider {
    filter: invert(100%);
  }
  
  /* Específicamente apuntar a los tres puntos (menu-button) */
  .custom-audio::-webkit-media-controls-menu-button {
    filter: invert(100%);
    color: white;
  }
  .rhap_container {
    background-color: #9DA2EF !important; /* Color de fondo del reproductor */
    margin: 30px 0 0;
  }
  
  .rhap_play-pause-button,
  .rhap_forward-button,
  .rhap_rewind-button,
  .rhap_volume-button,
  .rhap_repeat-button,
  .rhap_main-controls-button {
    color: #fff !important; /* Color de los botones, incluidos los tres puntos */
  }
  
  .rhap_time {
    color: #fff !important; /* Cambia el color de los números de tiempo a blanco */
  }
  
  .rhap_progress-bar-show-download {
    background-color: #e4e4e4 !important; /* Color de la barra de progreso */
  }
  
  .rhap_main-controls-button {
    color: #fff !important; /* Color de los botones de reproducción */
  }
  @media (max-width: 900px){
    .rhap_container {
      margin: 10px 0 0;
    }
  }