.propositoSection{
    min-height: 612px;
    background-image: url("../../assets/img/PROPOSITO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;

    .container{
        width: 57.4%;
        max-width: 827px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container > div{
        padding: 1px;
    }
    .propositoFraseContainer{ 
        max-width: 675px;
        width: 90%;
    }
}
@media(max-width: 1000px){
    .propositoSection{
        min-height: 467px;
        justify-content: end;
        .container{
            width: 95.4%;
        }
    }
    
}