.garantiaSection{
    max-width: 100%;
    width: 100%;
    background-color: #585DCC;
    min-height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container{
        width: 82.6%;
        max-width: 1190px;
        

        .comillaLeft{
            float: left;
            position: relative;
        }
        .comillaRight{
            text-align-last: right;
        }
    }

    .container > div{
        width: 100%;
    }
}
@media(max-width:800px){
    .garantiaSection{
        
    }
}