.sectionTarjets{
    background-image: url('../../../assets/img/fontline.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    a{
        text-decoration: none;
    }
}